<!Doctype>
<html ng-app="MyApp" ng-controller="MainCtrl">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<title>美圖秀秀</title>
		
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    	<link rel="stylesheet" type="text/css" href="/css/animate.min.css"></li>
		<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/creative.css">

	</head>
	<body>
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	        <div class="container-fluid">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand page-scroll" href="#page-top">美圖秀秀</a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a class="page-scroll" href="#about">關於我們</a>
	                    </li>
	                    <li>
	                        <a class="page-scroll" href="#contact">給點意見</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container-fluid -->
	    </nav>

	    <header>
	        <div class="header-content">
	            <div class="header-content-inner">
	                <h1>Spice up Your Daliy Life</h1>
	                <hr>
	                <p>美圖秀秀利用最新科技為您找尋適合您的美圖，增添生活情趣</p>
	                <a href="/single" class="btn btn-primary btn-xl page-scroll">立即觀看</a>
	            </div>
	        </div>
	    </header>

	    <section class="bg-primary" id="about">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center">
	                    <h3>網路上每天都有很多圖片，但我時間有限，要怎樣才能快速找到適合自己的圖片呢？</h3>
	                </div>
	            </div>
	        </div>
	    </section>

	    <section id="services">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center">
	                    <h2 class="section-heading">美圖秀秀幫您做到了以下幾件事情</h2>
	                    <hr class="primary">
	                </div>
	            </div>
	        </div>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-3 col-md-6 text-center">
	                    <div class="service-box">
	                        <i class="fa fa-4x fa-binoculars wow bounceIn text-primary"></i>
	                        <h3>美圖分類</h3>
	                        <p class="text-muted">減少您閱讀以及挑選的時間</p>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 text-center">
	                    <div class="service-box">
	                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
	                        <h3>美圖推薦</h3>
	                        <p class="text-muted">按下「喜愛」按鈕，美圖秀秀會幫您推薦你也許會喜歡的其他美圖</p>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 text-center">
	                    <div class="service-box">
	                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
	                        <h3>即時更新</h3>
	                        <p class="text-muted">我們都將即時更新我們的美圖，讓你美圖不漏看</p>
	                    </div>
	                </div>
	                <div class="col-lg-3 col-md-6 text-center">
	                    <div class="service-box">
	                        <i class="fa fa-4x fa-bell wow bounceIn text-primary" data-wow-delay=".3s"></i>
	                        <h3>意見反饋</h3>
	                        <p class="text-muted">讓我們更貼近您的需求</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>

	    <section class="bg-dark">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center call-to-action">
	                    <h2>現在就開始使用美圖秀秀吧！</h2>
	                </div>
	                 <div class="col-lg-12 text-center">
	                    <a href="/single" class="btn btn-xl btn-default">立即使用</a>
	                </div>
	            </div>
	        </div>
	    </section>

	    <section id="contact">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-lg-12 text-center">
	    				<h2>填入你寶貴的意見讓美圖秀秀變得更好！</h2>
	    				<iframe src="https://docs.google.com/forms/d/1XyS4f-jl06yKobnE8_udsKuuiyA0y57uSYZNN4lOGTE/viewform?embedded=true" width="900" height="450" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
	    			</div>
	    		</div>
	    	</div>
	    </section>

		<script src="/components/jquery/dist/jquery.min.js"></script>
		<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/components/angular/angular.min.js"></script>

		<script src="/js/app.js"></script>
		<script src="/js/wow.min.js"></script>
		<script type="text/javascript" src="/js/creative.js"></script>
	</body>
</html>